---
import Layout from '../components/Layout.astro';
import { contentfulClient } from "../lib/contentful";
import type { BlogPost } from "../lib/contentful";

const entries = await contentfulClient.getEntries<BlogPost>({
	content_type: "blogPost",
});
const posts = entries.items.map((item) => {
	const { title, date, description, slug } = item.fields;
	return {
		title,
		slug,
		description,
		date: new Date(date).toLocaleDateString()
	};
});
---

<Layout title="Astro Quickstart">
	<main class="mt-[4vh]">
		<div class="grid grid-cols-1 md:grid-cols-2 grid-rows-1 h-auto mb-16 gap-x-16 md:gap-y-0">
			<div class="left-copy min-h-[50vh] h-full flex order-2 md:order-1 flex-col items-center justify-center">
				<div class="category font-jakarta text-sm font-[600] text-[#292929] flex w-full items-center justify-start flex-wrap uppercase">
					<ul class="categories m-0 p-0 list-none inline-block">
						<li class="relative leading-none pt-1 pb-1">
							<a href="https://blueprinttheme.com/blueprint/category/style/" rel="category tag" class="text-[.625rem] py-[0.125rem] px-[0.375rem] bg-[#e9e9eb]">Style</a></li></ul></div>

				<h2 class="mt-[1rem] font-jakarta font-[600] text-[#292929] tracking-tight leading-tight text-4xl inline break-words">
					Tartan: an Elegant Lifestyle Collection with a Modern Twist on Tradition	</h2>
				<p class="font-jakarta font-[200] text-[#717275] tracking-tight leading-tight text-4xl inline break-words">This season’s collection is split into two main drops</p>

				<div class="post-meta font-jakarta mt-[1.5rem] flex flex-row items-center font-[500] text-[0.6875rem] flex-wrap justify-between self-start">
					<div class="meta-views flex items-center">
						<span class="meta-icon leading-none mr-[0.25rem]"><i class="fa-sharp fa-solid fa-chart-simple mr-[0.25rem]"></i></span>
						<span class="meta-views__count mr-[0.125rem]">1.6K</span>
						<span class="cs-meta-views__label">views</span>
					</div>
					<div class="cs-meta-reading-time mr-[0.25rem] flex items-center before:content-[''] before:p-0 before:w-[1rem] before:h-[0.5px] before:block before:mx-[0.5rem] before:bg-[#424242]">
               <span class="cs-meta-icon">
                   <i class="fa-regular fa-clock mr-[0.25rem]"></i></span>2 minute read
					</div>
					<div class="cs-meta-shares flex items-center mr-[0.25rem] before:content-[''] before:p-0 before:w-[1rem] before:h-[0.5px] before:block before:mx-[0.5rem] before:bg-[#424242]">
						<div class="cs-meta-share-links">
							<div class="pk-share-buttons-wrap">
								<div class="pk-share-buttons-items flex flex-wrap flex-row">
									<div class="pk-share-buttons-item pk-share-buttons-facebook pk-share-buttons-no-count mr-[0.25rem]" data-id="facebook">
										<a href="https://www.facebook.com/sharer.php?u=https://blueprinttheme.com/blueprint/2020/02/27/tartan-an-elegant-lifestyle-collection-with-a-modern-twist-on-tradition/" class="pk-share-buttons-link" target="_blank">
											<i class="fa-brands fa-facebook"></i>
										</a>
									</div>
									<div class="pk-share-buttons-item pk-share-buttons-twitter pk-share-buttons-no-count mr-[0.25rem]" data-id="twitter">
										<a href="https://twitter.com/share?&amp;text=Tartan%3A%20an%20Elegant%20Lifestyle%20Collection%20with%20a%20Modern%20Twist%20on%20Tradition&amp;via=envato&amp;url=https://blueprinttheme.com/blueprint/2020/02/27/tartan-an-elegant-lifestyle-collection-with-a-modern-twist-on-tradition/" class="pk-share-buttons-link" target="_blank">
											<i class="fa-brands fa-twitter"></i>
										</a>
									</div>
									<div class="pk-share-buttons-item pk-share-buttons-pinterest pk-share-buttons-no-count mr-[0.25rem]" data-id="pinterest">
										<a href="https://pinterest.com/pin/create/bookmarklet/?url=https://blueprinttheme.com/blueprint/2020/02/27/tartan-an-elegant-lifestyle-collection-with-a-modern-twist-on-tradition/&amp;media=https://blueprinttheme.com/blueprint/wp-content/uploads/sites/2/2020/02/maxresdefault-1024x576.jpeg" class="pk-share-buttons-link" target="_blank">
											<i class="fa-brands fa-pinterest"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="meta-share-total">
								<span class="cs-total-number">
					Shares 843 				</span>
						</div>

					</div></div>
			</div>
			<div class="right-copy grid min-h-[50vh] order-1 md:order-2 h-full bg-red-400">
				<img src="https://picsum.photos/600/400" class="object-cover object-center w-full h-full" alt="..." />
			</div>

		</div>
		<div class="grid grid-cols-1 lg:grid-cols-3 grid-rows-1 gap-16 lg:gap-y-0 mb-16">
			<div class="w-full h-full">
				<article class="post relative block">
					<div class="entry__outer">
						<div class="entry__inner relative flex flex-col overflow-hidden before:content-[''] before:table before:w-0 before:pb-[66.67%]">

							<div class="overlay-background absolute inset-0 w-full h-full overflow-hidden flex flex-col">
								<img src="https://picsum.photos/400/300" alt="..." class="w-full h-full object-cover object-center">
							</div>
							<a class="overlay-link absolute inset-0 w-full h-full z-10" href="#"></a>
						</div>

						<div class="entry__content px-3 max-w-screen-sm relative mt-2">
							<a href="#" class="entry__title-wrapper ">
								<h2 class="entry__title break-words inline text-[1.5rem] font-jakarta font-[600] text-[#292929] hover:text-[#a3a3a3]">
									How to Enjoy Your Favorite Things Every Day	</h2>
								<p class="entry__excerpt text-[#717275] inline text-[1.5rem] font-jakarta font-[300] break-words">
									Cute date ideas to try if you’re tired of staying inside</p>
							</a>
							<div class="cs-entry__post-meta"><div class="cs-meta-author"><span class="cs-by">by</span><a class="cs-meta-author-inner url fn n" href="https://blueprinttheme.com/blueprint/author/elliot/" title="View all posts by Elliot Alderson"><span class="cs-author">Elliot Alderson</span></a></div><div class="cs-meta-date">February 25, 2020</div></div>		</div>
					</div>
				</article>
			</div>
			<div class="min-h-[30vh] w-full h-full bg-yellow-300"></div>
			<div class="min-h-[30vh] w-full h-full bg-yellow-300"></div>
		</div>
		<div class="grid grid-cols-5 gris-rows-1 min-h-[50vh] h-full mb-16 gap-y-16 md:gap-y-0">
			<div class="left-copy col-span-5 md:col-span-3 grid h-full bg-green-300"></div>
			<div class="right-copy col-span-5 md:col-span-2 grid h-full bg-red-400"></div>
		</div>
		<div class="grid grid-cols-1 lg:grid-cols-3 grid-rows-1 gap-x-16 gap-y-16 lg:gap-y-0 mb-16">
			<div class="w-full h-full"><div class="min-h-[30vh] w-full h-full bg-yellow-300"></div></div>
			<div class="min-h-[30vh] w-full h-full bg-yellow-300"></div>
			<div class="min-h-[30vh] w-full h-full bg-yellow-300"></div>
		</div>
		<div class="grid grid-cols-2 gris-rows-1 min-h-[50vh] h-full mb-16">
			<div class="left-copy grid h-full bg-green-300"></div>
			<div class="right-copy grid h-full bg-red-400"></div>
		</div>
		<div class="grid grid-cols-4 grid-rows-1 min-h-[30vh] gap-x-16 mb-16">
			<div class="w-full h-full"><div class="w-full h-full bg-yellow-300"></div></div>
			<div class="w-full h-full bg-yellow-300"></div>
			<div class="w-full h-full bg-yellow-300"></div>
			<div class="w-full h-full bg-yellow-300"></div>
		</div>
		<ul>
			{posts.map((post) => (
				<li>
					<a href={`/posts/${post.slug}/`}>
						<h2>{post.title}</h2>
					</a>
					<time>{post.date}</time>
					<p>{post.description}</p>
				</li>
			))}
		</ul>
	</main>
</Layout>